.snpa iframe,
.snpr iframe {
    border: 2px dashed red!important;
    background: rgba(255, 0, 0, .3)!important
}

.snpa:hover {
    cursor: pointer;
    outline: 1px dotted red!important
}

#snpt-sandboxed * * {
    all: unset;
    color: #2e4159;
    user-select: none;
    box-sizing: border-box;
    font-weight: 600
}

#snpt-sandboxed *:after,
#snpt-sandboxed *:before {
    all: unset
}

#snpt-sandboxed div,
#snpt-sandboxed h1,
#snpt-sandboxed h2,
#snpt-sandboxed h3,
#snpt-sandboxed h4,
#snpt-sandboxed h5,
#snpt-sandboxed h6,
#snpt-sandboxed p {
    display: block
}

#snpt-sandboxed form {
    display: inline-block
}

#snpt-sandboxed h1,
#snpt-sandboxed h2,
#snpt-sandboxed h3,
#snpt-sandboxed h4,
#snpt-sandboxed h5,
#snpt-sandboxed h6 {
    margin: 20px 0
}

#snpt-sandboxed p {
    font-size: 12px;
    margin: 12px 0
}

#snpt-sandboxed a {
    color: #7a9fc5
}

#snpt-sandboxed a:hover {
    text-decoration: underline;
    cursor: pointer
}

#snpt-sandboxed ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 40px
}

#snpt-sandboxed ul li {
    display: list-item
}

#snpt-sandboxed .h1,
#snpt-sandboxed h1 {
    text-align: center
}

#snpt-sandboxed .h1,
#snpt-sandboxed .h2,
#snpt-sandboxed h1,
#snpt-sandboxed h2 {
    font-size: 26px!important;
    font-weight: 700
}

#snpt-sandboxed .h3,
#snpt-sandboxed h3 {
    font-size: 23px!important;
    font-weight: 700
}

#snpt-sandboxed .h4,
#snpt-sandboxed h4 {
    font-size: 20px!important;
    font-weight: 700
}

#snpt-sandboxed .h5,
#snpt-sandboxed h5 {
    font-size: 17px!important;
    font-weight: 700
}

#snpt-sandboxed .h6,
#snpt-sandboxed h6 {
    font-size: 14px!important;
    font-weight: 700
}

#snpt-sandboxed .mode-container {
    margin: 0 5px
}

#snpt-sandboxed .mode-container .btn {
    flex: 1;
    margin-left: 5px;
    text-align: center;
    padding: 4px!important;
    font-size: 8px
}

#snpt-sandboxed .mode-container .btn:first-child {
    margin-left: 0
}

#snpt-sandboxed .devtool-window,
#snpt-sandboxed .window {
    font-family: Segoe UI, Lucida Grande, Tahoma, sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    background: #fbfdff;
    height: 100%;
    font-size: 11px;
    overflow-y: scroll;
    z-index: 100000000000000000;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .41)
}

#snpt-sandboxed .devtool-window.minimized,
#snpt-sandboxed .window.minimized {
    background: #4c607a;
    overflow-y: visible
}

#snpt-sandboxed .devtool-window.minimized:hover,
#snpt-sandboxed .window.minimized:hover {
    background: #7589bb;
    cursor: pointer
}

#snpt-sandboxed .devtool-window.minimized.is-recording,
#snpt-sandboxed .window.minimized.is-recording {
    background: #ff5252
}

#snpt-sandboxed .devtool-window.show-hotkeys .quick-row-actions .add-row,
#snpt-sandboxed .window.show-hotkeys .quick-row-actions .add-row {
    background: #e1e5eb
}

#snpt-sandboxed .devtool-window.show-hotkeys .quick-row-actions .cursor,
#snpt-sandboxed .window.show-hotkeys .quick-row-actions .cursor {
    background: #fce3e5
}

#snpt-sandboxed .devtool-window {
    width: 100%;
    box-shadow: none
}

#snpt-sandboxed .full-height {
    height: 100%
}

#snpt-sandboxed .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px
}

#snpt-sandboxed .content.is-component {
    background: #dee8f5
}

#snpt-sandboxed .content.is-component .btn-disabled {
    background: #bfc4ca
}

#snpt-sandboxed .btn {
    padding: 8px;
    position: relative;
    box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, .75)
}

#snpt-sandboxed .btn:hover {
    cursor: pointer
}

#snpt-sandboxed .btn-primary,
#snpt-sandboxed .btn-secondary,
#snpt-sandboxed .play-btns {
    background: #4c607a;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    transition: background .2s ease-in
}

#snpt-sandboxed .btn-primary:hover,
#snpt-sandboxed .btn-secondary:hover,
#snpt-sandboxed .play-btns:hover {
    background: #394861
}

#snpt-sandboxed .btn-secondary {
    background: #a9c1df
}

#snpt-sandboxed .btn-secondary:hover {
    background: #8da5df
}

#snpt-sandboxed .btn-big {
    padding: 16px 24px
}

#snpt-sandboxed .play-btns {
    background: #6fce6f;
    border-radius: 10px;
    min-width: 60px;
    font-size: 12px
}

#snpt-sandboxed .play-btns:hover {
    background: #6fce6f
}

#snpt-sandboxed .btn-disabled {
    background: #e8e8e8;
    opacity: .4;
    box-shadow: none;
    pointer-events: none
}

#snpt-sandboxed .btn-disabled.btn-clickable {
    pointer-events: inherit
}

#snpt-sandboxed .btn-disabled:hover {
    cursor: default
}

#snpt-sandboxed textarea {
    width: 100%
}

#snpt-sandboxed input[type=text] {
    background: #fff;
    border: 1px solid #4c607a;
    padding: 1px 5px;
    border-radius: 2px
}

#snpt-sandboxed input[type=text].text-input {
    border: 1px solid #bababa;
    background: #fff;
    padding: 7px 5px;
    border-radius: 0
}

#snpt-sandboxed .top-menu-container {
    margin-bottom: 24px;
    height: 30px
}

#snpt-sandboxed .top-menu-container .logo:hover {
    cursor: pointer
}

#snpt-sandboxed .top-menu-container .help-icon {
    margin-right: 7px
}

#snpt-sandboxed .top-menu-container .help-icon:hover {
    cursor: pointer
}

#snpt-sandboxed .top-menu-container .db-title {
    font-size: 13px
}

#snpt-sandboxed .top-menu-container .editable-label button {
    margin-right: 0
}

#snpt-sandboxed .top-menu-container button {
    margin-right: 8px
}

#snpt-sandboxed .top-menu-container .last {
    margin-right: 0
}

#snpt-sandboxed .top-menu-container .dropdown .dropdown-container {
    top: 23px;
    min-width: 100px;
    width: auto;
    right: 6px;
    background: #fff;
    border: 1px solid #000;
    z-index: 100;
    font-weight: 600;
    font-size: 9px
}

#snpt-sandboxed .top-menu-container .dropdown .dropdown-container .dd-row {
    display: flex;
    align-items: center;
    padding: 5px
}

#snpt-sandboxed .top-menu-container .dropdown .dropdown-container .dd-row:hover {
    background: #bbc3ce;
    cursor: pointer
}

#snpt-sandboxed .top-menu-container .dropdown .dropdown-container .dd-row .icon {
    margin-right: 7px
}

#snpt-sandboxed .play-btn {
    background: #2e8d2e;
    font-weight: 700;
    min-width: 60px;
    text-align: center;
    border-radius: 10px;
    transition: background .2s ease-in
}

#snpt-sandboxed .play-btn.active {
    background: #2e8d2e;
    box-shadow: 0 1px 10px 0 #2e8d2e
}

#snpt-sandboxed .play-btn:hover {
    background: #32a032
}

#snpt-sandboxed .assert-btn,
#snpt-sandboxed .recording-btn {
    color: #fff;
    text-transform: uppercase;
    margin-right: 0;
    font-weight: 700;
    font-size: 12px;
    border-radius: 10px;
    padding: 8px 16px
}

#snpt-sandboxed .recording-btn {
    background: #fb6363
}

#snpt-sandboxed .recording-btn.active {
    background: #ff5252;
    box-shadow: 0 1px 10px 0 #ff5252
}

#snpt-sandboxed .assert-btn {
    background: #59708b
}

#snpt-sandboxed .assert-btn.active {
    background: #4c607a;
    box-shadow: 0 1px 10px 0 #4c607a
}

#snpt-sandboxed .test-name {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px
}

#snpt-sandboxed .test-header {
    padding: 8px 8px 8px 2px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative
}

#snpt-sandboxed .test-header .btn {
    margin-left: 8px
}

#snpt-sandboxed .test-header .run-warning {
    color: red;
    margin-left: 7px;
    font-size: 9px
}

#snpt-sandboxed .test-header-controls {
    margin-bottom: 16px
}

#snpt-sandboxed .code {
    background: #fff;
    border: 3px solid #d4d4d4;
    font-weight: 100;
    padding: 10px;
    white-space: nowrap
}

#snpt-sandboxed .test-controls {
    flex-direction: column
}

#snpt-sandboxed .test-controls .second-row {
    margin-top: 8px
}

#snpt-sandboxed .value-tag {
    background: #d3deec;
    border: 1px solid #ccd8e8;
    font-weight: 600;
    padding: 7px 4px;
    border-radius: 2px;
    color: #2e4159!important;
    display: inline-block;
    word-break: break-all
}

#snpt-sandboxed .value-tag .value {
    color: #2e4159!important
}

#snpt-sandboxed .value-tag .editable-label input {
    font-size: 10px;
    padding: 2px
}

#snpt-sandboxed .assert-tag {
    background: #76b979;
    padding: 1px 3px;
    border-radius: 2px;
    color: #fff!important;
    margin-left: 8px;
    display: inline-block;
    margin-right: 8px;
    font-size: 10px;
    white-space: nowrap
}

#snpt-sandboxed .assert-tag .assert {
    text-decoration: underline;
    font-weight: 700;
    color: #fff!important;
    font-size: 10px
}

#snpt-sandboxed .assert-tag .assert:hover {
    cursor: pointer
}

#snpt-sandboxed .assert-tag .value {
    font-weight: 400;
    color: #fff!important;
    line-height: 13px
}

#snpt-sandboxed .warning-tag {
    background: #ffc800;
    padding: 2px 5px;
    border-radius: 2px;
    color: #fff!important;
    display: inline-block;
    max-width: 100%
}

#snpt-sandboxed .warning-tag .value {
    color: #000
}

#snpt-sandboxed .nw-section {
    padding-bottom: 500px;
    display: block
}

#snpt-sandboxed .action-list {
    overflow: auto
}

#snpt-sandboxed .script-action .script-desc,
#snpt-sandboxed .xy-coord-action .value-tag {
    margin-right: 8px
}

#snpt-sandboxed .script-action .script-area {
    border: 1px solid #6781a5;
    margin-top: 7px;
    min-height: 100px;
    padding: 7px;
    resize: vertical;
    background: #fff;
    font-family: Andale Mono, AndaleMono, monospace
}

#snpt-sandboxed .nw-action-row-wrapper {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 2px solid #6781a5;
    display: block
}

#snpt-sandboxed .nw-action-row {
    user-select: none;
    margin: 0 8px 0 0;
    border: 1px solid #b1c1e3;
    background: #fff;
    font-size: 11px;
    position: relative;
    box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, .75)
}

#snpt-sandboxed .nw-action-row .nw-action-con {
    padding: 8px;
    padding-left: 0
}

#snpt-sandboxed .nw-action-row .value-prelabel {
    margin-right: 8px
}

#snpt-sandboxed .nw-action-row .quick-action {
    text-decoration: underline;
    margin-left: 5px;
    display: inline-block
}

#snpt-sandboxed .nw-action-row .quick-action:hover {
    cursor: pointer
}

#snpt-sandboxed .nw-action-row.selected {
    background: #e9f1fb
}

#snpt-sandboxed .nw-action-row:first-child {
    margin-top: 0
}

#snpt-sandboxed .nw-action-row .action-type {
    font-weight: 700;
    margin-right: 5px
}

#snpt-sandboxed .nw-action-row .action-type select {
    background: #f3f3f3;
    padding: 6px 4px;
    border: 1px solid #dedede
}

#snpt-sandboxed .nw-action-row .action-type.select-wrap:after {
    top: 11px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #979797
}

#snpt-sandboxed .nw-action-row .seq-num {
    font-size: 8px;
    color: #4c607a;
    margin-right: 8px
}

#snpt-sandboxed .nw-action-row .selector {
    display: flex;
    align-items: center;
    word-break: break-all;
    font-size: 10px;
    font-weight: 700;
    max-width: 40%
}

#snpt-sandboxed .nw-action-row .selector .editable-label input {
    font-size: 10px;
    padding: 2px
}

#snpt-sandboxed .nw-action-row .checkbox {
    width: 25px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center
}

#snpt-sandboxed .nw-action-row .checkbox .box {
    width: 12px;
    height: 12px;
    border: 1px solid #c6d2e2
}

#snpt-sandboxed .nw-action-row .checkbox.active .box {
    background: #4c607a;
    border: none
}

#snpt-sandboxed .nw-action-row .action-selector:hover {
    cursor: pointer;
    text-decoration: underline
}

#snpt-sandboxed .nw-action-row .action-selector:hover .box {
    background: #f2f2f2
}

#snpt-sandboxed .nw-action-row .action-selector:hover .active .box {
    background: #76889f
}

#snpt-sandboxed .editable-label {
    position: relative;
    max-width: 100%
}

#snpt-sandboxed .editable-label .accept {
    position: absolute;
    right: 2px;
    top: 2px;
    margin-right: 0;
    font-size: 11px;
    padding: 0 7px;
    background: #4c607a;
    color: #fff;
    border-radius: 2px
}

#snpt-sandboxed .editable-label .accept:hover {
    cursor: pointer
}

#snpt-sandboxed .editable-label .edit {
    padding: 0 5px
}

#snpt-sandboxed .editable-label .edit img {
    width: 8px
}

#snpt-sandboxed .editable-label .edit:hover {
    cursor: pointer
}

#snpt-sandboxed .editable-label .underline:hover {
    text-decoration: underline;
    cursor: pointer
}

#snpt-sandboxed .grid-row {
    display: flex
}

#snpt-sandboxed .grid-item {
    flex: 1;
    flex-shrink: 0
}

#snpt-sandboxed .grid-item-2 {
    flex: 2;
    flex-shrink: 0
}

#snpt-sandboxed .grid-item-3 {
    flex: 3;
    flex-shrink: 0
}

#snpt-sandboxed .grid-item-4 {
    flex: 4
}

#snpt-sandboxed .grid-item-5 {
    flex: 5
}

#snpt-sandboxed .grid-item-6 {
    flex: 6
}

#snpt-sandboxed .v-align {
    align-items: center
}

#snpt-sandboxed .h-align {
    justify-content: center
}

#snpt-sandboxed .h-align-right {
    justify-content: flex-end
}

#snpt-sandboxed .grid-column {
    flex-direction: column
}

#snpt-sandboxed .grid-flexwrap {
    flex-wrap: wrap
}

#snpt-sandboxed .grid-noshrink {
    flex-shrink: 0
}

#snpt-sandboxed .logo {
    width: 120px;
    margin-left: 5px;
    height: 23px
}

#snpt-sandboxed .logo img {
    width: 100%
}

#snpt-sandboxed .arrow-down {
    background: url('data:image/svg+xml;utf8,<svg width="132" height="73" viewBox="0 0 132 73" xmlns="http://www.w3.org/2000/svg"><g fill="#384B63" fill-rule="evenodd"><path d="M66.048 72.352V39.985L132.013.745l-22.847 26.66"/><path d="M66.54 72.352V39.985L.573.745"/><path d="M66.54 72.352s25.63-25.63 25.63-32.367c0-6.736-25.63 0-25.63 0H42.376L66.54 72.352z"/></g></svg>');
    width: 80px;
    height: 23px;
    background-size: 100%
}

#snpt-sandboxed .nw-logo {
    background: url('data:image/svg+xml;utf8,<svg width="256" height="328" viewBox="0 0 256 328" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"><path d="M179.257 98.215c135.795 67.576 72.605 195.517-45.395 202.093-4.988.278-10.012.042-14.954-.692C6.538 282.924-33.745 169.793 72.222 103.22c32.287-20.283 72.898-21.993 107.035-5.005" fill="#794422"/><path d="M170.746 297.51c59.457-34.315 86.973-131.687 37.182-217.087 2.813-14.938 4.5-28.894 4.737-41.584.468-4.112-3.517-7.3-7.423-5.942-11.644 2.853-22.853 6.69-33.558 11.662-8.105-5.648-16.486-7.553-23.368-7.916-3.745-.197-2.33-5.825-2.027-7.892 1.778-3.895 3.466-7.162 7.653-10.897 2.908-2.66-.74-6.316-4.077-4.222-5.437 2.597-8.833 5.218-12.662 9.038-1.087.808-2.388.733-3.324.558-.67-.125-1.155-.735-1.228-1.412-.82-7.54.03-14.302 6.627-19.39 1.24-.957-.007-2.796-1.432-2.36-11.01 3.36-15.784 10.974-19.6 20.387-3.066-2.154-6.653-4.038-10.734-5.666-.69-.365-1.592-.6-2.214-.13-1.116.844-2.504 1.718-1.86 3.22 4.33 6.276 8.683 12.386 13.305 16.383-10.942 2.322-21.29 6.145-30.903 11.827L49.358 32.053c-4.76-1.83-9.733 2.137-9.003 7.186 2.087 21.673 4.23 42.61 7.335 50.721-42.522 87.546-16.375 175.347 40.225 207.55H0v29.757h256V297.51h-85.254z" fill="#502D17"/><path d="M128.763 106.94c16.31-40.347 52.284-45.534 77.83-19.745 21.203 21.405 21.747 80.406-29.758 91.28 52.363 43.492 16.596 117.316-43.208 117.316-60.09-.857-98.432-73.25-42.634-117.888-52.078 2.29-60.96-52.16-42.063-83.553 17.28-28.71 67.243-33.193 79.833 12.59" fill="#FFF"/><path d="M152.513 161.592c1.464-2.11 1.387-4.898-.104-6.99-4.996-7-12.15-12.754-22.502-12.754-10.627 0-16.942 5.772-22.748 13.45-1.516 2.002-1.622 4.77-.237 6.865 4.36 6.595 11.866 12.706 20.348 18.975 1.562 1.154 3.692 1.118 5.216-.085 7.974-6.297 15.42-12.817 20.027-19.46" fill="#FF7F2B"/><path d="M189.425 122.582c0 18.727-12.324 33.525-26.468 33.525s-25.61-15.18-25.61-33.907c0-18.727 11.466-33.907 25.61-33.907s26.468 15.56 26.468 34.288zm-69.628 3.338c0 18.727-12.324 33.526-26.468 33.526-14.145 0-25.61-15.18-25.61-33.908 0-18.726 11.465-33.907 25.61-33.907 14.143 0 26.467 15.563 26.467 34.29z" fill="#B1DFEC"/><path d="M179.6 126.587c0 12.276-7.67 22.136-16.547 22.136-8.876 0-16.453-9.955-16.453-22.23 0-12.277 7.577-22.225 16.453-22.225s16.548 10.043 16.548 22.32zm-69.054-.38c0 12.275-7.672 22.135-16.55 22.135-8.874 0-16.45-9.955-16.45-22.23-.002-12.277 7.575-22.225 16.45-22.225 8.878 0 16.55 10.043 16.55 22.32z"/><path d="M166.82 115.905c0 3.74-2.99 6.772-6.677 6.772-3.687 0-6.676-3.032-6.676-6.772s2.99-6.772 6.676-6.772c3.688 0 6.677 3.032 6.677 6.772zm-64-.382c0 3.74-2.99 6.772-6.677 6.772-3.687 0-6.676-3.032-6.676-6.772s2.99-6.772 6.676-6.772c3.688 0 6.677 3.033 6.677 6.773z" fill="#FFF"/><path d="M72.966 311.72s-.19 8.107 5.246 8.203c1.704 5.12 7.723 5.094 8.68.667h6.867s-.67 3.53 3.433 3.434c4.1-.095 3.72-3.72 3.72-3.72h6.485s-.954 3.72 3.243 3.72c4.198 0 3.996-4.262 3.996-4.262 2.358-1.482 5.114-1.365 5.114-5.944 0-.997-.24-2.085-.698-3.212-2.486-6.1-11.43-13.337-23.958-13.384-8.04.053-15.53 4.957-20.507 9.777-1.526 1.477-1.62 4.72-1.62 4.72zm113.5 0s.002 8.393-5.435 8.49c-.856 4.863-7.854 4.806-8.49.38h-6.867s.477 3.53-3.624 3.434c-4.103-.095-3.53-3.72-3.53-3.72h-6.486s.763 3.72-3.434 3.72-3.804-4.262-3.804-4.262c-2.358-1.482-5.114-1.365-5.114-5.944 0-.997.24-2.085.698-3.212 2.486-6.1 11.43-13.337 23.958-13.384 8.04.053 14.797 4.906 20.03 9.443 2.1 2.194 2.098 5.055 2.098 5.055z" fill="#FF7F2B"/></svg>');
    background-size: 100%;
    width: 19px;
    height: 24px
}

#snpt-sandboxed .cli-container {
    background: #f1f1f1;
    font-family: monospace;
    font-weight: 400;
    padding: 15px 17px;
    font-size: 12px
}

#snpt-sandboxed .cli-container * {
    user-select: auto!important
}

#snpt-sandboxed .code-req-panel {
    background: #fefcf7;
    border: 1px solid #d5b200;
    color: #d5902b;
    padding: 5px 10px;
    border-radius: 5px
}

#snpt-sandboxed .generated-preview {
    background: #f1f1f1;
    font-family: monospace;
    font-weight: 400;
    padding: 15px 17px;
    font-size: 12px
}

#snpt-sandboxed .generated-preview .boilerplate,
#snpt-sandboxed .generated-preview .node .node {
    margin-left: 20px!important
}

#snpt-sandboxed .code-section-header {
    margin-top: 14px;
    margin-bottom: 5px;
    font-size: 12px
}

#snpt-sandboxed .code-quick-link {
    font-size: 8px;
    color: blue;
    display: inline-block;
    margin-left: 5px
}

#snpt-sandboxed .code-quick-link:hover {
    cursor: pointer;
    text-decoration: underline
}

#snpt-sandboxed .code-container {
    position: relative;
    height: 100%;
    width: 100%
}

#snpt-sandboxed .code-container .code {
    height: calc(100% - 2px)
}

#snpt-sandboxed .code-container .github {
    position: absolute;
    top: 6px;
    right: 0;
    display: flex;
    align-items: center
}

#snpt-sandboxed .code-container .github div:hover {
    text-decoration: underline
}

#snpt-sandboxed .code-container .github img {
    width: 18px;
    margin-right: 5px
}

#snpt-sandboxed .github {
    background: #fff;
    border-radius: 3px;
    box-shadow: none;
    padding: 6px 3px;
    font-weight: 700;
    height: 24px;
    color: #000;
    margin-right: 6px;
    font-size: 9px
}

#snpt-sandboxed .dropdown {
    position: relative!important
}

#snpt-sandboxed .dropdown .dropdown-container {
    position: absolute
}

#snpt-sandboxed .dropdown .dd-row {
    display: block;
    width: 100%
}

#snpt-sandboxed .testbuildercode .NWTestRecorder {
    overflow: hidden
}

#snpt-sandboxed .NWTestRecorder {
    overflow: auto;
    flex: 1;
    display: flex;
    flex-direction: column
}

#snpt-sandboxed .maximize .db-content,
#snpt-sandboxed .maximize .NWTestRecorder {
    margin: 0 auto;
    max-width: 900px;
    width: 100%
}

#snpt-sandboxed .quick-row-actions {
    height: 12px;
    margin: 0 15px
}

#snpt-sandboxed .quick-row-actions.not-in-list {
    margin: 0 15px 0 20px
}

#snpt-sandboxed .quick-row-actions .add-row {
    color: #a9c1df;
    font-size: 9px;
    margin-left: 93%;
    padding-left: 3%;
    padding-right: 3%
}

#snpt-sandboxed .quick-row-actions .add-row:hover {
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    background: #d3deec
}

#snpt-sandboxed .quick-row-actions .dots {
    font-size: 4px!important;
    line-height: 10px!important;
    padding-left: 10px;
    color: #4c607a
}

#snpt-sandboxed .quick-row-actions .cursor-record {
    background: #fce3e5;
    opacity: 0
}

#snpt-sandboxed .quick-row-actions .cursor-record:hover {
    cursor: pointer;
    opacity: 1
}

#snpt-sandboxed .quick-row-actions .cursor-assert {
    background: #b5bfcc;
    opacity: 0
}

#snpt-sandboxed .quick-row-actions .cursor-assert:hover {
    cursor: pointer;
    opacity: 1
}

#snpt-sandboxed .record-cursor-container {
    opacity: .2;
    display: flex;
    width: 100%;
    height: auto;
    padding: 0 7px 0 22px;
    margin-bottom: 7px;
    margin-top: 8px
}

#snpt-sandboxed .record-cursor-container.is-asserting .record-cursor {
    border: 1px solid #4c607a
}

#snpt-sandboxed .record-cursor-container.is-asserting .record-cursor-bar {
    right: 0;
    position: absolute;
    width: 3000px;
    height: 100%;
    background: #4c607a;
    background-image: -webkit-linear-gradient(45deg, #fff, #fff 30%, #4c607a 0, #4c607a 70%, #fff 0);
    background-image: -webkit-moz-gradient(45deg, #fff 0, #fff 30%, #4c607a 30%, #4c607a 70%, #fff 70%);
    background-image: -webkit-o-gradient(45deg, #fff 0, #fff 30%, #4c607a 30%, #4c607a 70%, #fff 70%);
    background-image: linear-gradient(45deg, #fff, #fff 30%, #4c607a 0, #4c607a 70%, #fff 0);
    background-size: 25px 10px;
    animation: slide 20s linear infinite
}

#snpt-sandboxed .nw-action-row-wrapper {
    position: relative
}

#snpt-sandboxed .nw-action-row-wrapper .arrow-down {
    position: absolute;
    bottom: -2px;
    left: -9px;
    height: 8px;
    width: 16px
}

#snpt-sandboxed .nw-action-row-wrapper .record-cursor-container {
    padding: 0;
    margin: 0 8px 8px 0;
    padding-right: 15px
}

#snpt-sandboxed .nw-action-row-wrapper.nw-indicator {
    border: none;
    padding-left: 0;
    margin-left: 5px
}

#snpt-sandboxed .nw-action-row-wrapper.nw-indicator .debug-action {
    pointer-events: none
}

#snpt-sandboxed .nw-action-row-wrapper.nw-indicator .nw-action-row {
    box-shadow: none;
    background: none;
    border: none
}

#snpt-sandboxed .nw-action-row-wrapper.nw-indicator .checkbox {
    width: 14px;
    height: 14px
}

#snpt-sandboxed .nw-action-row-wrapper.nw-indicator .action-selector {
    display: inline-block;
    margin-right: 4px;
    position: relative;
    top: 7px
}

#snpt-sandboxed .nw-action-row-wrapper.nw-indicator .nw-action-con {
    font-weight: 600;
    font-size: 9px
}

#snpt-sandboxed .nw-action-row-wrapper.nw-indicator .checkbox .box {
    width: 14px
}

#snpt-sandboxed .nw-action-row-wrapper.nw-component .nw-action-row {
    background: #dee8f5
}

#snpt-sandboxed .nw-action-row-wrapper.playback-success .nw-action-row {
    transition: background .2s ease-in;
    background: #d4fad4
}

#snpt-sandboxed .nw-action-row-wrapper.playback-processing .nw-action-row {
    background: #ffffd0
}

#snpt-sandboxed .nw-action-row-wrapper.playback-error .nw-action-row {
    background: #ffbcbc
}

#snpt-sandboxed .nw-action-row-wrapper.playback-skipped .nw-action-row {
    background: #ffffbe
}

#snpt-sandboxed .nw-action-row-wrapper.playback-skipped.nw-indicator .nw-action-row {
    background: none
}

#snpt-sandboxed .nw-action-row-wrapper.nw-component .nw-action-row-wrapper {
    border-color: #91a4be
}

#snpt-sandboxed .nw-action-row-wrapper.nw-component .component-rows {
    margin-top: 10px;
    margin-left: -25px
}

#snpt-sandboxed .nw-action-row-wrapper.nw-component .component-rows .component-rows {
    margin-left: -10px
}

#snpt-sandboxed .nw-action-row-wrapper.nw-component .component-rows .add-row,
#snpt-sandboxed .nw-action-row-wrapper.nw-component .component-rows .cursor-assert,
#snpt-sandboxed .nw-action-row-wrapper.nw-component .component-rows .cursor-record {
    visibility: hidden
}

#snpt-sandboxed .nw-action-row-wrapper.nw-component .component-rows .action-selector,
#snpt-sandboxed .nw-action-row-wrapper.nw-component .component-rows .editable-label .edit,
#snpt-sandboxed .nw-action-row-wrapper.nw-component .component-rows .selection-icon {
    display: none
}

#snpt-sandboxed .nw-action-row-wrapper.nw-component .component-rows .nw-action-con {
    margin-left: 8px
}

#snpt-sandboxed .nw-action-row-wrapper .playback-error-status {
    color: red;
    font-weight: 700;
    padding: 7px;
    background: #ffe3e3;
    margin-right: 14px;
    margin-left: 7px
}

#snpt-sandboxed .cursor-select-end {
    height: 15px;
    opacity: .15;
    display: block;
    margin-left: 30px;
    margin-right: 17px
}

#snpt-sandboxed .cursor-select-end:hover {
    background: #ff5252;
    cursor: pointer
}

#snpt-sandboxed .record-cursor {
    width: 100%;
    height: 10px;
    border: 1px solid #ff5252;
    border-radius: 3px;
    overflow: hidden;
    position: relative
}

#snpt-sandboxed .record-cursor-bar {
    right: 0;
    position: absolute;
    width: 3000px;
    height: 100%;
    background: #ff5252;
    background-image: -webkit-linear-gradient(45deg, #fff, #fff 30%, #ff5252 0, #ff5252 70%, #fff 0);
    background-image: -webkit-moz-gradient(45deg, #fff 0, #fff 30%, #ff5252 30%, #ff5252 70%, #fff 70%);
    background-image: -webkit-o-gradient(45deg, #fff 0, #fff 30%, #ff5252 30%, #ff5252 70%, #fff 70%);
    background-image: linear-gradient(45deg, #fff, #fff 30%, #ff5252 0, #ff5252 70%, #fff 0);
    background-size: 25px 10px;
    animation: slide 20s linear infinite
}

@keyframes slide {
    0% {
        right: 0
    }
    to {
        right: -300px
    }
}

@keyframes move {
    0% {
        width: 0
    }
    to {
        width: 100%
    }
}

#snpt-sandboxed .btn-with-icon {
    position: relative;
    padding: 5px;
    background: #4c607a
}

#snpt-sandboxed .btn-with-icon:hover {
    cursor: pointer
}

#snpt-sandboxed .btn-with-icon.minimized {
    background: #7a9fc5;
    margin-right: 0;
    padding-left: 15px
}

#snpt-sandboxed .btn-with-icon.minimized .icon-vm-minimize {
    width: 3px
}

#snpt-sandboxed .icon {
    width: 14px;
    height: 14px;
    background-size: 100%;
    display: block
}

#snpt-sandboxed .icon.icon-vm-window {
    background: url('data:image/svg+xml;utf8,<svg width="14" height="14" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg"><title>Group 4</title><g fill="none" fill-rule="evenodd"><path fill="#F1F1F1" d="M0 0h13v13H0z"/><path fill="#D5D5D5" d="M2 2h5.91v6H2z"/></g></svg>')
}

#snpt-sandboxed .icon.icon-vm-maximize {
    background: url('data:image/svg+xml;utf8,<svg width="14" height="14" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg"><title>Group 4</title><g fill="none" fill-rule="evenodd"><path fill="#F1F1F1" d="M0 0h13v13H0z"/><path fill="#D5D5D5" d="M1 1h10.91v11H1z"/></g></svg>')
}

#snpt-sandboxed .icon.icon-vm-minimize {
    background: url('data:image/svg+xml;utf8,<svg width="14" height="14" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg"><title>Group 4</title><g fill="none" fill-rule="evenodd"><path fill="#F1F1F1" d="M0 0h13v13H0z"/><path fill="#D5D5D5" d="M11 1h.91v11H11z"/></g></svg>')
}

#snpt-sandboxed .icon.icon-vm-top {
    background: url('data:image/svg+xml;utf8,<svg width="14" height="14" viewBox="0 0 14 13" xmlns="http://www.w3.org/2000/svg"><title>Group 7</title><g fill="none" fill-rule="evenodd"><path fill="#F1F1F1" d="M1 0h13v13H1z"/><path fill="#C2C2C2" d="M.91 0h13v6h-13z"/></g></svg>')
}

#snpt-sandboxed .icon.icon-vm-bottom {
    background: url('data:image/svg+xml;utf8,<svg width="14" height="14" viewBox="0 0 14 13" xmlns="http://www.w3.org/2000/svg"><title>Group 8</title><g fill="none" fill-rule="evenodd"><path fill="#F1F1F1" d="M1 0h13v13H1z"/><path fill="#C2C2C2" d="M.91 7h13v6h-13z"/></g></svg>')
}

#snpt-sandboxed .icon.icon-vm-left {
    background: url('data:image/svg+xml;utf8,<svg width="14" height="14" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg"><title>Group 5</title><g fill="none" fill-rule="evenodd"><path fill="#F1F1F1" d="M0 0h13v13H0z"/><path fill="#C2C2C2" d="M0 0h5.91v13H0z"/></g></svg>')
}

#snpt-sandboxed .icon.icon-vm-right {
    background: url('data:image/svg+xml;utf8,<svg width="14" height="14" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg"><title>Group 6</title><g fill="none" fill-rule="evenodd"><path fill="#F1F1F1" d="M0 0h13v13H0z"/><path fill="#C2C2C2" d="M7 0h5.91v13H7z"/></g></svg>')
}

#snpt-sandboxed .icon .icon-remove {
    width: 8px
}

#snpt-sandboxed .debug-action {
    position: absolute;
    left: -10px;
    justify-content: center;
    width: 17px;
    height: calc(100% - 10px);
    display: flex;
    align-items: center;
    flex-direction: column
}

#snpt-sandboxed .debug-action .playback-cursor {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: #6781a5;
    border-radius: 100%;
    box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, .74902)
}

#snpt-sandboxed .debug-action .breakpoint-cursor {
    display: none;
    width: 0;
    height: 0;
    background: #fb6363;
    border-radius: 100%;
    box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, .74902);
    transition: all .1s linear
}

#snpt-sandboxed .debug-action .breakpoint-cursor.active {
    width: 12px;
    height: 12px;
    opacity: 1;
    display: inline-block
}

#snpt-sandboxed .debug-action:hover {
    cursor: pointer
}

#snpt-sandboxed .debug-action:hover .breakpoint-cursor {
    display: inline-block;
    width: 7px;
    height: 7px;
    opacity: .7
}

#snpt-sandboxed .debug-action:hover .breakpoint-cursor.active {
    width: 12px;
    height: 12px;
    opacity: 1
}

#snpt-sandboxed .undo-redo-icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-left: 8px;
    position: relative
}

#snpt-sandboxed .undo-redo-icon img {
    width: 100%
}

#snpt-sandboxed .undo-redo-icon:hover {
    cursor: pointer
}

#snpt-sandboxed .add-var-icon {
    width: 12px!important;
    height: 12px!important;
    margin-top: 3px;
    margin-left: 6px
}

#snpt-sandboxed .selection-icon {
    flex-shrink: 0
}

#snpt-sandboxed .selection-icon:hover {
    cursor: pointer
}

#snpt-sandboxed .warning-icon {
    flex-shrink: 0;
    width: 15px!important;
    height: 15px!important;
    margin-left: 3px
}

#snpt-sandboxed .warning-icon:hover {
    cursor: pointer
}

#snpt-sandboxed .warnings {
    border: 1px solid #f3e200;
    padding: 5px;
    margin-top: 5px;
    background: #fffadb
}

#snpt-sandboxed .remove-btn:hover {
    cursor: pointer
}

#snpt-sandboxed .comp-row,
#snpt-sandboxed .folder-row,
#snpt-sandboxed .test-row {
    padding-bottom: 8px;
    font-size: 11px
}

#snpt-sandboxed .comp-row .item,
#snpt-sandboxed .folder-row .item,
#snpt-sandboxed .test-row .item {
    padding: 8px 16px;
    background: #fff;
    box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, .7);
    margin-right: 4px
}

#snpt-sandboxed .comp-row .btn,
#snpt-sandboxed .folder-row .btn,
#snpt-sandboxed .test-row .btn {
    margin-left: 5px
}

#snpt-sandboxed .comp-row .action-quick-buttons,
#snpt-sandboxed .folder-row .action-quick-buttons,
#snpt-sandboxed .test-row .action-quick-buttons {
    display: flex;
    align-items: center
}

#snpt-sandboxed .comp-row .action-quick-buttons .quick-button,
#snpt-sandboxed .folder-row .action-quick-buttons .quick-button,
#snpt-sandboxed .test-row .action-quick-buttons .quick-button {
    padding: 4px
}

#snpt-sandboxed .comp-row .action-quick-buttons .quick-button img,
#snpt-sandboxed .folder-row .action-quick-buttons .quick-button img,
#snpt-sandboxed .test-row .action-quick-buttons .quick-button img {
    width: 21px
}

#snpt-sandboxed .comp-row .action-quick-buttons .quick-button:hover,
#snpt-sandboxed .folder-row .action-quick-buttons .quick-button:hover,
#snpt-sandboxed .test-row .action-quick-buttons .quick-button:hover {
    background: #f5f9ff
}

#snpt-sandboxed .folder-row {
    font-size: 14px;
    padding-left: 0
}

#snpt-sandboxed .folder-row .item {
    border-bottom: 1px solid #bbc1c8;
    margin-bottom: 3px;
    padding: 0 0 0 20px;
    background: none;
    box-shadow: none
}

#snpt-sandboxed .folder-row .btn-primary,
#snpt-sandboxed .folder-row .btn-secondary {
    position: relative;
    top: -7px
}

#snpt-sandboxed .test-row {
    margin-left: 0
}

#snpt-sandboxed .test-row .item {
    border: 1px solid #b1c1e3;
    padding-left: 0
}

#snpt-sandboxed .test-row.is-component .item {
    background: #dee8f5
}

#snpt-sandboxed .test-row:hover {
    cursor: default
}

#snpt-sandboxed .comp-row {
    background: #d2e4fb;
    box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, .74902)
}

#snpt-sandboxed .hotkey {
    position: absolute;
    text-transform: none;
    top: 0;
    left: 0;
    color: #fff;
    background: #000;
    padding: 2px;
    font-size: 10px
}

#snpt-sandboxed .view-mode-dd {
    position: relative;
    display: flex
}

#snpt-sandboxed .auto-saving {
    position: absolute;
    right: 64px;
    top: 7px;
    color: #c9d8e8;
    font-size: 9px
}

#snpt-sandboxed .variables {
    margin-left: 10px
}

#snpt-sandboxed .variables .grid-row {
    margin-top: 5px;
    flex-wrap: wrap
}

#snpt-sandboxed .variables .variable-header {
    margin-bottom: 7px
}

#snpt-sandboxed .variable {
    display: flex;
    margin-right: 7px;
    margin-bottom: 7px
}

#snpt-sandboxed .variable .key {
    color: #fff;
    padding: 4px;
    background: #4c607a
}

#snpt-sandboxed .variable .key .value {
    color: #fff
}

#snpt-sandboxed .variable .default {
    padding: 4px;
    background: #feffff;
    display: flex
}

#snpt-sandboxed .db-content {
    overflow: auto;
    padding-bottom: 150px;
    margin-top: 30px
}

#snpt-sandboxed .db-content .tests {
    position: relative;
    left: -10px
}

#snpt-sandboxed .db-content form {
    max-width: 280px;
    width: 100%
}

#snpt-sandboxed form input[type=email],
#snpt-sandboxed form input[type=number],
#snpt-sandboxed form input[type=password],
#snpt-sandboxed form input[type=text] {
    background: #fff;
    font-size: 13px;
    padding: 8px;
    border: 1px solid #4c607a;
    box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, .75);
    width: 100%
}

#snpt-sandboxed form input[type=checkbox] {
    margin-right: 10px
}

#snpt-sandboxed form label:hover {
    cursor: pointer
}

#snpt-sandboxed form .form-row {
    display: block;
    margin-bottom: 8px
}

#snpt-sandboxed form .form-server-error {
    font-size: 10px;
    color: red
}

#snpt-sandboxed form .form-server-success {
    font-size: 10px;
    color: green
}

#snpt-sandboxed .code-options {
    margin-bottom: 8px;
    padding: 16px;
    background: #d1e8ff;
    color: #fff
}

#snpt-sandboxed .code-options .grid-row {
    min-height: 35px
}

#snpt-sandboxed .code-options .option-label {
    width: 120px;
    display: inline-block
}

#snpt-sandboxed .code-options select {
    background: #fff;
    padding: 7px;
    padding-right: 20px;
    min-width: 200px
}

#snpt-sandboxed .code-options select:hover {
    cursor: pointer
}

#snpt-sandboxed input[type=checkbox] {
    width: 12px;
    height: 12px;
    border: 1px solid #c6d2e2;
    background: #fff;
    display: inline-block
}

#snpt-sandboxed input[type=checkbox]:checked {
    background: #394861
}

#snpt-sandboxed input[type=checkbox]:hover {
    cursor: pointer
}

#snpt-sandboxed .select-wrap {
    position: relative
}

#snpt-sandboxed .select-wrap:after {
    content: "";
    position: absolute;
    right: 5px;
    top: 11px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #4c607a;
    pointer-events: none
}

#snpt-sandboxed .select-wrap:hover {
    cursor: pointer
}

#snpt-sandboxed .alert-panel {
    position: absolute;
    bottom: 7px;
    right: 7px;
    z-index: 99999;
    width: 60%;
    background: #fbe463;
    border: 1px solid #bba31f;
    color: #271d07;
    padding: 0 10px;
    box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, .74902)
}

#snpt-sandboxed .alert-panel .active-tab-message {
    margin-right: 7px
}

#snpt-sandboxed .alert-panel .active-tab-message .underline-this {
    text-decoration: underline
}

#snpt-sandboxed .alert-panel .active-tab-message p {
    font-size: 11px
}

#snpt-sandboxed .alert-panel a {
    color: #2585ff;
    text-decoration: none
}

#snpt-sandboxed .alert-panel a:hover {
    cursor: pointer;
    text-decoration: underline
}

#snpt-sandboxed .modal-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(76, 96, 122, .5);
    z-index: 10;
    transition: all .3s ease-in
}

#snpt-sandboxed .modal-background .modal-content {
    width: 92%;
    height: 92%;
    background: #fff;
    position: relative;
    top: 4%;
    left: 4%;
    box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, .75);
    transition: all .3s ease-in
}

#snpt-sandboxed .modal-background .modal-content.modal-med {
    height: 50%;
    top: 25%;
    width: 86%;
    left: 7%;
    padding: 20px
}

#snpt-sandboxed .modal-background .iframe-container,
#snpt-sandboxed .modal-background .iframe-container iframe {
    height: 100%;
    width: 100%
}

#snpt-sandboxed .modal-background .close-modal {
    position: absolute;
    top: 10px;
    right: 10px
}

#snpt-sandboxed .modal-background.tut-mode {
    background: none;
    pointer-events: none
}

#snpt-sandboxed .modal-background.tut-mode .modal-content {
    background: #d2e4fb;
    pointer-events: all;
    height: 30%;
    top: 69%;
    width: 98%;
    left: 1%;
    border: 1px solid #909dac;
    padding: 0
}

#snpt-sandboxed .help-icon {
    width: 18px;
    margin: 0 5px
}

#snpt-sandboxed .section {
    margin: 10px 0
}

#snpt-sandboxed .section-header {
    font-size: 14px;
    margin: 10px
}

#snpt-sandboxed .help-content {
    padding: 15px;
    font-size: 13px;
    height: 100%;
    overflow: auto
}

#snpt-sandboxed .help-content b {
    text-decoration: underline
}

#snpt-sandboxed .help-content img {
    width: 100%;
    border: 2px solid #4c607a
}

#snpt-sandboxed .t-section {
    margin: 20px 0
}

#snpt-sandboxed .t-center {
    text-align: center
}

#snpt-sandboxed .t-underline {
    text-decoration: underline
}

#snpt-sandboxed .t-ruler {
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #000
}

#snpt-sandboxed .support {
    position: absolute;
    bottom: 4px
}

#snpt-sandboxed .support-modal {
    height: 100%
}

#snpt-sandboxed .support-section {
    padding: 50px;
    font-size: 14px;
    border-bottom: 1px solid #e4e4e4
}

#snpt-sandboxed .support-section div {
    text-align: center
}

#snpt-sandboxed .selecting-el {
    color: red
}

#snpt-sandboxed .button-group .btn {
    margin-left: 8px
}

#snpt-sandboxed .folder-item-count {
    font-size: 8px;
    display: inline-block;
    margin-left: 8px
}

#snpt-sandboxed .f-no-select,
#snpt-sandboxed .m-tree {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#snpt-sandboxed .m-tree {
    position: relative;
    overflow: hidden
}

#snpt-sandboxed .m-draggable {
    position: absolute;
    opacity: .8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#snpt-sandboxed .m-node.placeholder>* {
    visibility: hidden
}

#snpt-sandboxed .m-node.placeholder {
    border: 1px dashed #ccc
}

#snpt-sandboxed .m-node .inner {
    position: relative;
    cursor: pointer;
    padding-left: 0
}

#snpt-sandboxed .m-node .collapse {
    position: absolute;
    cursor: pointer;
    background: transparent;
    display: inline-block;
    height: 39px;
    vertical-align: middle;
    padding-top: 5px;
    color: #4c607a;
    width: 30px;
    padding-left: 8px;
    top: 2px;
    left: -14px;
    font-size: 15px;
    text-align: center
}

#snpt-sandboxed .m-node .caret-right:before {
    content: "\25B8";
    font-size: 15px
}

#snpt-sandboxed .m-node .caret-down:before {
    content: "\25BE";
    font-size: 15px
}

#snpt-sandboxed .m-tree .children {
    margin-bottom: 7px
}

#snpt-sandboxed .action-quick-buttons {
    display: flex;
    align-items: center
}

#snpt-sandboxed .quick-button {
    padding: 4px 4px 5px
}

#snpt-sandboxed .quick-button.disabled {
    opacity: .2
}

#snpt-sandboxed .quick-button img {
    width: 14px
}

#snpt-sandboxed .quick-button:hover {
    cursor: pointer;
    background: #d3deec
}

#snpt-sandboxed .details-section {
    padding: 14px 7px 7px 0;
    margin-top: 7px;
    border-top: 1px solid #dedede
}

#snpt-sandboxed .details-section .text-input {
    margin-right: 8px
}

#snpt-sandboxed .details-section .details-row {
    margin-bottom: 10px;
    display: flex;
    align-items: center
}

#snpt-sandboxed .details-section .details-row:last-child {
    margin-bottom: 0
}

#snpt-sandboxed .details-section .details-row-title {
    margin-right: 8px;
    min-width: 75px
}

#snpt-sandboxed .details-section textarea {
    border: 1px solid #bababa;
    background: #fff;
    width: 100%;
    padding: 8px;
    height: 30px;
    resize: vertical
}

#snpt-sandboxed .details-section .selector {
    font-size: inherit
}

#snpt-sandboxed .value-tag,
#snpt-sandboxed .value-tag-label {
    display: inline-block;
    margin-right: 8px
}

#snpt-sandboxed .description {
    display: flex;
    flex: 1;
    align-items: center
}

#snpt-sandboxed .description:hover {
    cursor: pointer;
    text-decoration: underline
}

#snpt-sandboxed .LoginForm {
    width: 250px
}

#snpt-sandboxed .LoginForm .forgot-my-password {
    text-align: right;
    font-size: 10px
}

#snpt-sandboxed .cycle {
    width: 85%
}

#snpt-sandboxed .skip-tut {
    position: absolute;
    top: 6px;
    right: 8px
}

#snpt-sandboxed .tut-steps {
    text-align: center
}

#snpt-sandboxed .next-tut-btn,
#snpt-sandboxed .prev-tut-btn {
    padding: 5px
}

#snpt-sandboxed .next-tut-btn:hover,
#snpt-sandboxed .prev-tut-btn:hover {
    cursor: pointer
}

#snpt-sandboxed .next-tut-btn {
    border-left: 1px solid #b5c2d2
}

#snpt-sandboxed .next-tut-btn:hover {
    background: #fff;
    cursor: pointer
}

#snpt-sandboxed .prev-tut-btn {
    border-right: 1px solid #b5c2d2
}

#snpt-sandboxed .prev-tut-btn:hover {
    background: #fff;
    cursor: pointer
}

#snpt-sandboxed .tut-content {
    padding: 20px;
    font-size: 13px;
    text-align: center;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto
}

#snpt-sandboxed .tut-content .breakpoint-img {
    width: 69px;
    margin-bottom: -10px
}

#snpt-sandboxed .tut-content ul {
    text-align: left
}

#snpt-sandboxed .tut-content .selection-icon {
    width: 14px
}

#snpt-sandboxed .tut-content-section {
    margin-bottom: 10px
}

#snpt-sandboxed .screen_layout_sug {
    width: 100%
}

#snpt-sandboxed .next-step-prompt {
    font-size: 18px
}

#snpt-sandboxed .tut-img-openaction {
    width: 100px;
    margin: 0 10px
}

#snpt-sandboxed .square {
    font-size: 11px;
    height: 21px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background: #bbc9d8;
    margin-right: 10px;
    color: #fff;
    padding: 3px 7px 0;
    text-transform: uppercase
}

#snpt-sandboxed .square.is-comp {
    background: #495d72;
    padding-right: 6px
}

#snpt-sandboxed .square.is-comp .square-sub {
    left: -1px
}

#snpt-sandboxed .test-move {
    padding-right: 8px;
    padding-left: 8px
}

#snpt-sandboxed .test-move img {
    width: 8px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none
}

#snpt-sandboxed .handle:hover {
    cursor: move
}

#snpt-sandboxed .all-tests {
    margin-left: 20px;
    font-size: 18px
}

#snpt-sandboxed .all-tests .action-quick-buttons {
    margin-left: 10px;
    position: relative;
    top: -1px
}

#snpt-sandboxed .account-section {
    background: #fff;
    margin: 10px;
    padding: 20px;
    box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, .7);
    border: 1px solid #b1c1e3;
    font-size: 12px
}