#validator {
	visibility: hidden !important; 
}

#logo {
	padding: 60px !important;
}

#header {
	background-color: #DDD !important;
	padding: 20px !important;
	height: inherit !important;
}

.foreword {
	margin: 20px;
	/*font-variant: italic;*/
	/*background: #EEE;*/
	font-size: 13pt;
	padding: 25px;
	max-width:900px;
	margin-left: auto;
	margin-right: auto;
}

.foreword, li {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.foreword pre, .foreword code {
	font-family: monospace;
	background-color: #CCC;
}

.foreword section header {
	font-size: 150%;
	font-weight: bold;
	margin: 40px 0 20px;
	padding-bottom: 9px;
	border-bottom: 1px solid #EEE;
}

.foreword ul {
	margin: 10px;
	list-style: initial;
}

.foreword li {
	color: #333;
	font-size: 14px;
	line-height: 1.43;
}

.pull-right{
	float:right;
}

.nav-link{
	margin-left:15px;
}

ul.authorize-scopes {
	max-width: 100% !important;
}

.auth_submit__button {
	display: none;
}